@model IEnumerable<Biblioteca.Models.Dtos.LivroDto>

@{
    ViewData["Title"] = "List";
}

<h1>Livros Cadastrados</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Cadastrar Livro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                    @Html.ActionLink("Atualizar", "Edit", new { @class = "btn btn-primary", @id = item.Id }, new { @class = "btn btn-primary" }) 
                    @Html.ActionLink("Detalhes", "Details", new { @class = "btn btn-primary", @id = item.Id }, new { @class = "btn btn-primary" }) 
                    @Html.ActionLink("Excluir", "Delete", new { @class = "btn btn-primary", @id = item.Id }, new { @class = "btn btn-primary" })
            </td>
        </tr>
}
    </tbody>
</table>
